.border h1,p{
    background-color:gold;
     margin-left:100px;
    color:darkgreen;
    margin-right: 100px;
    text-align: center;
    
}
.first-div{
    background-color: crimson;
    height:500px;

}
 
 