 img{

 height:600px;
    width:1400px;
}
h1{
    color:orange;
    text-align:center;
}
p{
    color:blue;
    text-align:center;
}
button{
    background-color:brown;
    height: 60px;
    width: 90px;
    border-radius: 10px;
    margin-left: 150px;
}
button:hover{
    background-color: yellow;
    
}