.main{
    background-color: green;
    height:400px;
    text-align: center;
    
}
  label{
    color:chartreuse;
  }
 button{
    background-color:yellow;
    height:40px;
    width:90px;
    border-radius:1 0px;
 } 